.logo-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001; /* Make sure it's above the navbar */
     /* Add some padding if needed */
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    box-sizing: border-box;
    overflow-x: hidden;
}
body {
    background-image: linear-gradient(rgb(250, 190, 240),rgb(166, 200, 255));
    position: relative;
    padding-bottom: 100px;
}
.logo {
    height: 80px; /* Adjust the height as needed */
    width: auto; /* Maintain aspect ratio */
}
.imgs {
    display: flex;
    gap: 15px; /* Space between icons */
}

.imgs img {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
}
.navbar {
    background-color: black;
    z-index: 999;
    position: sticky;
    top: 0;
    align-items: center;
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    height: 80px;
    padding: 0 40px;
}

.navbar_container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align items to the right */
    width: 100%;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navbar_link {
    color: rgb(232, 169, 226);
    font-size: 19px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1.3rem;
    height: 100%;
    position: relative; /* Ensure relative positioning for pseudo-elements */
    transition: color 0.3s;
}

.navbar_link:hover {
    color: transparent;
    background-image: linear-gradient(to right, rgb(140, 25, 133), rgb(255, 186, 228));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-image 0.3s;
}

.navbar_link::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgb(140, 25, 133), rgb(255, 186, 228));
    transition: width 0.3s;
}

.navbar_link:hover::before {
    width: 100%;
}

.form-wrapper {
    text-align: center; /* Center the text within the form wrapper */
}

.form-heading {
    font-family: 'Montserrat';
    font-size: 5rem;
    font-weight: 400;
    color: white;
    align-items: center;
    transition: all 0.3s;
    text-align: center; 
    margin-top: 100px;
}
.form-subheading {
    font-family: 'Open Sans';
    color: rgb(101, 101, 101);
    text-align: center; 
    margin-top: 3%;
    font-size: 1.2rem;
}
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    margin-top: 7%;
}
.contact-form-input {
    padding-left: 30px; 
    text-align: left; /* You can keep text alignment left or right */
    width: 55rem;
    height: 4.8rem;
    padding-right: 10px;
    margin: 1rem 0;
    background-color: rgb(242, 242, 242);
    border: 0.2rem solid rgba(0, 0, 0, 0.086);
    font-size: 1.7rem;
    font-weight: 300;
    color: black;
    letter-spacing: 0.1rem;
    outline: none;
    border-radius: 50px;
}
.contact-form-input:focus{
    color: black;
    border: 0.1rem solid rgb(255, 103, 197);
}
.contact-form-input::placeholder{
    color: rgb(117, 136, 150);
}
.contact-form-textarea{
    height: 18rem;
    resize: none;
    padding: 1rem;
    padding-left: 30px; 
    text-align: left; /* You can keep text alignment left or right */
    width: 55rem;
    padding-right: 10px;
    margin: 1rem 0;
    background-color: rgb(242, 242, 242);
    border: 0.2rem solid rgba(0, 0, 0, 0.086);
    font-size: 1.7rem;
    font-weight: 300;
    color: black;
    letter-spacing: 0.1rem;
    outline: none;
    border-radius: 50px;
}
.form-submit-btn{
    width: 20rem;
    height: 5rem;
    background-image: linear-gradient(to right, rgb(174, 123, 255), rgb(254, 189, 125)); 
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
    border-radius: 40px;
    transition: background 0.3s;
    margin-top: 2rem;
    border: none;
}
.form-submit-btn:hover {
    background: linear-gradient(to right, rgb(181, 181, 181), rgb(101, 101, 101)); /* Gradient on hover */
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* add font after */
}
.hamburger{
    display: none;
}
.close-menu{
    display: none;
}
.mancalaGame, .webGame{
    margin-top: -7%;
}
/* think about what you wanna do with the NEXT logo */

/* .container{
    position:absolute;
    top:250px;
    height:200px;
    width:200px;
    right:500px;
}
.header-text h1{
    display: inline;
    clear:none;
    margin-top: 50px;
    font-size: 100px;
    color: rgb(255, 158, 231);
    position: relative;
    left: -1200px;
    top: -450px;
    overflow: hidden;
    white-space: nowrap;
} */

/* ul a{
    color:black;
    text-decoration: none;
    font-size: 20px;
    position:relative;
    left: -1200px;
}
li{
    list-style-type: none;
    display:inline-block;
    margin: 0 10px;
} */
/* nav ul li b{
    color:black;
    text-decoration: none;
    font-size: 20px;
    position:relative;
    left: -1000px;
    top: -20px;
    display: inline-block;
    margin: 0 10px;
}
nav ul li c{
    color:black;
    text-decoration: none;
    font-size: 20px;
    position:relative;
    left: -800px;
    top: -60px;
    display: inline-block;
    margin: 0 10px;
}
nav ul li d{
    color:black;
    text-decoration: none;
    font-size: 20px;
    position:relative;
    left: -600px;
    top: -100px;
    display: inline-block;
    margin: 0 10px;
}
nav ul li e{
    color:black;
    text-decoration: none;
    font-size: 20px;
    position:relative;
    left: -400px;
    top: -140px;
    display: inline-block;
    margin: 0 10px;
} */
/* #list li{
    list-style-type: none;
} */

/* this is the part of the code which allows you to make the pink underline appear by hovering over the text*/
/* nav ul li a:hover::after{
    width: 100%;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #DDA0DD;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
} */

/* this is the part of the code which allows you to make the pink underline appear by hovering over the text*/
/* nav ul li b:hover::after{
    width: 100%;
}
nav ul li b::after{
    content: '';
    width: 0;
    height: 3px;
    background: #DDA0DD;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li c:hover::after{
    width: 100%;
}
nav ul li c::after{
    content: '';
    width: 0;
    height: 3px;
    background: #DDA0DD;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li d:hover::after{
    width: 100%;
}
nav ul li d::after{
    content: '';
    width: 0;
    height: 3px;
    background: #DDA0DD;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li e:hover::after{
    width: 100%;
}
nav ul li e::after{
    content: '';
    width: 0;
    height: 3px;
    background: #DDA0DD;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}  */

@media (max-width: 1424px) {
    /* Add padding to the bottom of the body to ensure the entire content is scrollable */
    body {
        padding-bottom: 100px; /* Adjust this value as needed */
    }
    .hamburger {
        display: block;
        cursor: pointer;
        color: rgb(240, 166, 242);
        font-size: 30px;
        background-color: black; 
        padding: 10px; 
        transition: background-color 0.3s, transform 0.3s; 
    }
    .hamburger:hover {
        background-color: #333; 
        transform: scale(1.1); 
    }
    
    .close-menu {
        display: none;
        cursor: pointer;
        color: rgb(240, 166, 242);
        font-size: 30px;
        display: none; 
        background-color: black;
        padding: 10px;
        top: 10px; 
        right: 10px; 
        transition: background-color 0.3s, transform 0.3s;
    }
    .close-menu:hover {
        background-color: #333; 
        transform: scale(1.1); 
    }
    
    /* Hide the hamburger icon and show the close icon when the menu is active */
    .navbar_menu.active + .hamburger{
        display: none;
    }
    
    .navbar_menu.active + .close-menu {
        display: block;
    }
    
    /* Show the menu when active */
    /* Default styles for navbar menu */
    .navbar_menu {
        display: none; /* Hidden by default */
    }
    
    /* When menu is active, display it */
    .navbar_menu.active {
        display: flex; /* Adjust according to layout needs */
        flex-direction: column; /* Stack menu items vertically */
        background: linear-gradient(to left, rgb(0, 0, 0), rgb(47, 47, 47));
        position: fixed; /* Fix position for menu */
        top: 80px; /* Adjust based on navbar height */
        right: 0;
        width: 100%;
        height: calc(100vh - 80px); /* Full height minus navbar height */
        padding: 20px;
        overflow-y: none; /* Scroll if content overflows */
        flex-direction: column;
        align-items: flex-start; 
        right: 15px;
    }
    .navbar_link {
        padding: 20px 0;
        top: 50%;
        text-align: left;
        width: 100%; 
        position: relative;
        padding-left: 30px;
        box-sizing: border-box; 
        font-size: 25px;
    
    }
    .navbar_link::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -2%;
        width: 100vw; 
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2); 
    }
    .navbar_link:hover {
        color: transparent;
        background-image: linear-gradient(to right, rgb(140, 25, 133), rgb(255, 186, 228));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: background-image 0.3s;
    }
    .navbar_link::before {
        content: '';
        position: absolute;
        top: 52px;
        left: 30px;
        width: 0;
        height: 2px;
        background-image: linear-gradient(to right, rgb(140, 25, 133), rgb(255, 186, 228));
        transition: width 0.3s;
    }
    
    .navbar_link:hover::before {
        width: calc(100% - 30px);
    }
    /* Default state: hide the images */
    .imgs {
        display: none;
    }
    
    /* Show images when the menu is active */
    .navbar_menu.active ~ .imgs {
        display: flex;
        position: absolute;
        top: 750%; /* Adjust as needed */
        right: 25%; /* Adjust as needed */
        flex-direction: row;
        gap: 200px; /* Adjust spacing if needed */
    }
    .navbar_menu.active ~ .imgs img{
        height: 100px;
        width: 100px;
    }
    .navbar_menu.active ~ .imgs img:hover{
        background-color: rgba(155, 117, 251, 0.395); 
        transform: scale(1.6); 
    }
    #Amino{
        width: 600px;
    }
    .skillsLogo{
        display: none;
    }
    #nutreco{
        display: none;
    }
    #folder {
        width: 60px;
        height: auto;
        box-shadow: 5px 10px 10px rgb(0, 0, 0);
        margin-left: 20%;
        margin-top: 5%;
        transition: all 0.3s ease; /* Add transition for smooth animation */
    }
    #pool{
        margin-left: -150px;
    }
    #mancala{
        margin-left: -150px;
    }
    #web{
        margin-left: -150px;
    }
}
@media (max-width: 1004px){
    .navbar_menu.active ~ .imgs {
        display: flex;
        position: absolute;
        top: 650%; 
        right: 10%; 
        flex-direction: row;
    }
    .navbar_menu.active ~ .imgs img{
        height: 100px;
        width: 100px;
    }
    .navbar_menu.active ~ .imgs img:hover{
        background-color: rgba(155, 117, 251, 0.395); 
        transform: scale(1.6); 
    }
    
}
@media (max-width: 850px){
    .navbar_menu.active ~ .imgs {
        display: flex;
        position: absolute;
        top: 650%; 
        right: 2%;
        flex-direction: row;
        gap: 90px;
    }
    .navbar_menu.active ~ .imgs img{
        height: 80px;
        width: 80px;
    }
    .navbar_menu.active ~ .imgs img:hover{
        background-color: rgba(155, 117, 251, 0.395); 
        transform: scale(1.6); 
    }
}
/* @media (max-width: 1224px){
    .navbar_menu.active ~ .imgs {
        display: flex;
        position: absolute;
        top: 750%; 
        right: 25%; 
        flex-direction: row;
        gap: 100px; 
    }
    .navbar_menu.active ~ .imgs img{
        height: 100px;
        width: 100px;
    }
    .navbar_menu.active ~ .imgs img:hover{
        background-color: rgba(155, 117, 251, 0.395); 
        transform: scale(1.6); 
    }
}

@media (max-width: 724px){
    .navbar_menu.active ~ .imgs {
        display: flex;
        position: absolute;
        top: 750%; 
        right: 10%; 
        flex-direction: row;
        gap: 100px; 
    }
    .navbar_menu.active ~ .imgs img{
        height: 90px;
        width: 90px;
    }
    .navbar_menu.active ~ .imgs img:hover{
        background-color: rgba(155, 117, 251, 0.395); 
        transform: scale(1.6); 
    }
    .contact-form-input {
        width: 30rem;
    }
} */
@media (max-width: 1024px) {
    .contact-form-input {
        max-width: 55rem; 
    }
}

@media (max-width: 950px) {
    .contact-form-input {
        max-width: 50rem; 
    }
}
@media (max-width: 850px) {
    .contact-form-input {
        max-width: 40rem; 
    }
}
@media (max-width: 484px){
    .form-submit-btn{
        width: 16rem;
        height: 4rem;
        background-image: linear-gradient(to right, rgb(174, 123, 255), rgb(254, 189, 125)); 
        font-size: 1.2rem;
    }
    .contact-form-input {
        width: 20rem;
        height: 4rem;
        font-size: 1rem;
    }
    .form-subheading{
        font-size: 1rem;
        max-width: 80%;
        margin-top: 20%;
        margin-left: 10%;
        text-align: center;
    }
    #para2 {
        text-align: center;
        font-size: 1rem;
        margin-left: 0;
        margin-top: 30%;
        max-width: 70%;
        text-indent: 0;
    }
    #para1{
        text-align: center;
        font-size: 1rem;
        margin-left: 15%;
        margin-top: 30%;
        max-width: 70%;
        text-indent: 0;
    }
    .form-heading{
        font-size: 4rem;
    }
    body {
        overflow-x: hidden; 
    }
    /* When menu is active, display it */
    .navbar_menu.active {
        display: flex;
        flex-direction: column;
        background: linear-gradient(to left, rgb(0, 0, 0), rgb(47, 47, 47));
        position: fixed;
        top: 90px;
        right: 0;
        z-index: 1000; /* Ensure it's above other elements but doesn't cover the scrollbar */
        width: 100%; /* Reduce width to avoid covering scrollbar */
        height: calc(100vh - 90px); /* Full height minus navbar height */
        padding: 20px;
        overflow-y: auto; /* Allow scrolling within the menu */
        overflow-x: hidden; /* Prevent horizontal overflow */
        box-sizing: border-box; /* Ensure padding doesn't affect overall width */
        align-items: flex-start;
    }
    
    .navbar_link {
        padding: 20px 0;
        top: 50%;
        text-align: left;
        width: 100%;
        position: relative;
        padding-left: 30px;
        box-sizing: border-box;
        font-size: 20px;
    }
    .navbar_link::before {
        top: 47px;
    }
    /* Show images when the menu is active */
    .navbar_menu.active ~ .imgs {
        display: flex;
        top: 600% !important; /* Adjust as needed */
        right: 10 !important; /* Adjust as needed */
        flex-direction: row;
        gap: 30px; /* Adjust spacing if needed */
        z-index: 1000;
    }
    .navbar_menu.active ~ .imgs img{
        height: 80px;
        width: 80px;
    }
    .navbar_menu.active ~ .imgs img:hover{
        background-color: rgba(155, 117, 251, 0.395);
    
        transform: scale(1.6);
    }
    .navbar_link::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -20px;
        width: 100vw;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2);
    }

}

@media (width: 768px){

    body {
        overflow-x: hidden; 
    }
    .navbar_menu.active {
        display: flex;
        flex-direction: column;
        background: linear-gradient(to left, rgb(0, 0, 0), rgb(47, 47, 47));
        position: fixed;
        top: 90px;
        right: 0;
        z-index: 1000; /* Ensure it's above other elements but doesn't cover the scrollbar */
        width: 100%; /* Reduce width to avoid covering scrollbar */
        height: calc(100vh - 90px); /* Full height minus navbar height */
        padding: 20px;
        overflow-y: auto; /* Allow scrolling within the menu */
        overflow-x: hidden; /* Prevent horizontal overflow */
        box-sizing: border-box; /* Ensure padding doesn't affect overall width */
        align-items: flex-start;
    }

    .navbar_link {
        padding: 20px 0;
        top: 50%;
        text-align: left;
        width: 100%;
        position: relative;
        padding-left: 30px;
        box-sizing: border-box;
        font-size: 30px;
    }
    .navbar_link::before {
        top: 53px;
    }
    /* Show images when the menu is active */
    .navbar_menu.active ~ .imgs {
        display: flex;
        top: 700%; /* Adjust as needed */
        left: 20%; /* Adjust as needed */
        flex-direction: row;
        gap: 100px; /* Adjust spacing if needed */
        z-index: 1000;
    }
    .navbar_menu.active ~ .imgs img{
        height: 100px;
        width: 100px;
    }
}
@media (max-width: 380px){
    body {
        overflow-x: hidden; 
    }
  
    /* When menu is active, display it */
    .navbar_menu.active {
        display: flex;
        flex-direction: column;
        background: linear-gradient(to left, rgb(0, 0, 0), rgb(47, 47, 47));
        position: fixed;
        top: 90px;
        right: 0;
        z-index: 1000; /* Ensure it's above other elements but doesn't cover the scrollbar */
        width: 100%; /* Reduce width to avoid covering scrollbar */
        height: calc(100vh - 90px); /* Full height minus navbar height */
        padding: 20px;
        overflow-y: auto; /* Allow scrolling within the menu */
        overflow-x: hidden; /* Prevent horizontal overflow */
        box-sizing: border-box; /* Ensure padding doesn't affect overall width */
        align-items: flex-start;
    }
    
    .navbar_link {
        padding: 20px 0;
        top: 50%;
        text-align: left;
        width: 100%;
        position: relative;
        padding-left: 30px;
        box-sizing: border-box;
        font-size: 16px;
    }
    .navbar_link::before {
        top: 47px;
    }
    /* Show images when the menu is active */
    .navbar_menu.active ~ .imgs {
        display: flex;
        top: 550% !important; /* Adjust as needed */
        right: 10 !important; /* Adjust as needed */
        flex-direction: row;
        gap: 30px; /* Adjust spacing if needed */
        z-index: 1000;
    }
    .navbar_menu.active ~ .imgs img{
        height: 70px;
        width: 70px;
    }
    .navbar_menu.active ~ .imgs img:hover{
        background-color: rgba(155, 117, 251, 0.395);
    
        transform: scale(1.6);
    }
    .navbar_link::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -20px;
        width: 100vw;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2);
    }

}