/* General styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    box-sizing: border-box;
}

body {
    background: radial-gradient(ellipse at 10%, #ffffff, transparent),
    radial-gradient(ellipse at bottom, #5d4ee5, transparent), radial-gradient(ellipse at 100%, #7b81f8, transparent), radial-gradient(ellipse at 5% 40%, #4f52f5, transparent);
    position: relative;
    padding-bottom: 100px;
}
.logo-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001; /* Make sure it's above the navbar */
     /* Add some padding if needed */
}

.logo {
    height: 90px; /* Adjust the height as needed */
    width: auto; /* Maintain aspect ratio */
}
.imgs {
    display: flex;
    gap: 15px; /* Space between icons */
}

.imgs img {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
}

/* Navbar styles */
.navbar {
    background-color: black;
    z-index: 999;
    position: sticky;
    top: 0;
    align-items: center;
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    height: 90px;
    padding: 0 40px;
}

.navbar_container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align items to the right */
    width: 100%;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navbar_link {
    color: rgb(232, 169, 226);
    font-size: 21px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1.3rem;
    height: 100%;
    position: relative; /* Ensure relative positioning for pseudo-elements */
    transition: color 0.3s;
}

.navbar_link:hover {
    color: transparent;
    background-image: linear-gradient(to right, rgb(140, 25, 133), rgb(255, 186, 228));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-image 0.3s;
}

.navbar_link::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgb(140, 25, 133), rgb(255, 186, 228));
    transition: width 0.3s;
}

.navbar_link:hover::before {
    width: 100%;
}
#pool{
    width: 100px;
    height: auto;
    margin-top: -100px;
    margin-left: -180px;
}
#mancala{
    width: 100px;
    height: auto;
    margin-top: -100px;
    margin-left: -180px;
}
#web{
    width: 100px;
    height: auto;
    margin-top: -100px;
    margin-left: -180px;
}
#skillLogo{
    width: 130px;
    height: auto;
}
table {
    width: 60%;
    border-collapse: collapse; 
    margin: 150px auto;
    border-radius: 12px;   
    overflow: hidden;         
    box-shadow: 04px8pxrgba(0, 0, 0, 0.1);
    
}

th, td {
    padding: 12px;          
    text-align: center;  
         
}

tr:nth-child(odd) {
    background-color: #e8e6e6; /* Light grey for odd rows */
}

tr:nth-child(even) {
    background-color: #ffffff; /* White for even rows */
}



table, th, td {
    border: none;  
    align-items: center;           
}
table td, table th {
    box-shadow: none; 
    text-shadow: none; 
}
#details{
    text-align: left;
    font-family: 'Montserrat';
    color: black;
    font-size: 1.3rem;
}
#sec{
    background-color: #000f67;
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 900;
}
#folder {
    width: 80px;
    height: auto;
    box-shadow: 5px 10px 10px rgb(0, 0, 0);
    margin-left: 20%;
    transition: all 0.3s ease; /* Add transition for smooth animation */
}

#folder:hover {
    box-shadow: 10px 15px 15px rgb(0, 0, 0), 0 0 20px rgb(255, 255, 255); /* Increase shadow size and add glow */
    transform: scale(1.1); /* Slightly increase size */
}
#test{
    font-size: 1.3rem;
    color: black;
    margin-top: 7%;
}





.jobs {
    display: flex;
    flex-direction: column;
    gap: 200px; /* Space between buttons */
    margin-top: 10%;
    margin-left: 28%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2.2rem;
    color: rgb(218, 235, 255);
    text-shadow: -3px 3px 8px #0003ca;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 200px; /* Space between buttons */
    margin-top: 10%;
    margin-left: 28%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2.2rem;
    color: rgb(218, 235, 255);
}
.skills{
    display: flex;
    flex-direction: column;
    gap: 90px; /* Space between buttons */
    margin-top: 9%;
    margin-left: 18%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2.2rem;
    color: white;
    text-shadow: -3px 3px 8px #f8b8f6;
}
.logos {
    display: flex;
    flex-direction: column; /* Stacks icons vertically */
    gap: 60px; /* Space between icons */
    margin-left: 18%;
}
.skillsLogo{
    display: flex;
    margin-left: 90px;
    margin-top: -90px;
}
.subtitle {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    transition: color 0.3s;
    margin-top: 10%;
    font-size: 2.3rem;
    color: #272626;
    text-shadow: 2px 2px 2px white;
}
.langIcons {
    position: relative;
    width: 200px; /* Width of the circle */
    height: 200px; /* Height of the circle */
    border-radius: 50%; /* Make the container a circle */
    margin: auto;
    margin-left: 30%;
}

.icon {
    position: absolute;
    width: 70px; 
    height: 70px; 
    margin-top: 15%;
}
.icon2 {
    position: absolute;
    width: 70px; 
    height: 70px; 
    margin-top: 15%;
}
.icon3{
    position: absolute;
    width: 70px; 
    height: 70px; 
    margin-top: 15%;
}
/* Positioning each icon around the pentagon */
#C {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg) translateX(90px) rotate(0deg);
}

#Python {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(72deg) translateX(90px) rotate(-72deg);
}

#SQL {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(144deg) translateX(90px) rotate(-144deg);
}

#HTMLCSSJS {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(216deg) translateX(90px) rotate(-216deg);
}
#HTMLCSSJS2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(216deg) translateX(90px) rotate(-216deg);
}
#git {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(288deg) translateX(90px) rotate(-288deg);
}
#git2, #Java, #Docker {
    position: absolute;
    width: 70px; /* Adjust as needed */
    height: 70px; /* Adjust as needed */
}

#git2 {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
#git3 {
    top: 0;
    left: 100%;
    transform: translateX(-50%);
}
#Java {
    bottom: 0;
    left: 0;
}

#Docker {
    bottom: 0;
    right: 0;
}
#Check{
    width: 40px;
    height: 40px;
    margin-left: 2%;
}
#imp{
    margin-left: 15%;
    margin-top: -7%;
    max-width: 80%;
}
#Pin{
    width: 40px;
    height: 40px;
    margin-top: 3%;
    margin-left: 2%;
}

#header {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically (if height is set) */
    text-align: center; /* Center text within the flex container */
    font-family: 'Noto Sans Mon';
    text-shadow: 2px 10px 10px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 4.8rem;
    margin-top: 100px;
}



#para, #para2, #para3, #para4 {
    color: rgb(12, 0, 118);
    font-family: 'Open Sans';
    font-size: 1.3rem;
    word-wrap: break-word;
    max-width: 80%;
    text-indent: 7%;
    text-shadow: none;
    margin-left: -10%; 
    margin-top: 7%; 
}


#para1 {
    color: rgb(12, 0, 118);
    font-family: 'Open Sans';
    font-size: 1.3rem;
    margin: 125px auto; /* Center horizontally and adjust top and bottom margins */
    word-wrap: break-word;
    max-width: 60%;
    text-indent: 20px;
    text-align: center; /* Center text within the element */
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hamburger{
    display: none;
}
.close-menu{
    display: none;
}
.mancalaGame, .webGame{
    margin-top: -7%;
}

/* Styles for small screens */
@media (max-width: 1424px) {
   
    /* Add padding to the bottom of the body to ensure the entire content is scrollable */
    body {
        padding-bottom: 100px; /* Adjust this value as needed */
    }
    .hamburger {
        display: block;
        cursor: pointer;
        color: rgb(240, 166, 242);
        font-size: 30px;
        background-color: black; 
        padding: 10px; 
        transition: background-color 0.3s, transform 0.3s; 
    }
    .hamburger:hover {
        background-color: #333; 
        transform: scale(1.1); 
    }
    
    .close-menu {
        display: none;
        cursor: pointer;
        color: rgb(240, 166, 242);
        font-size: 30px;
        display: none; 
        background-color: black;
        padding: 10px;
        top: 10px; 
        right: 10px; 
        transition: background-color 0.3s, transform 0.3s;
    }
    .close-menu:hover {
        background-color: #333; 
        transform: scale(1.1); 
    }
    
    /* Hide the hamburger icon and show the close icon when the menu is active */
    .navbar_menu.active + .hamburger{
        display: none;
    }
    
    .navbar_menu.active + .close-menu {
        display: block;
    }
    
    /* Show the menu when active */
    /* Default styles for navbar menu */
    .navbar_menu {
        display: none; /* Hidden by default */
    }
    
    /* When menu is active, display it */
    .navbar_menu.active {
        display: flex; /* Adjust according to layout needs */
        flex-direction: column; /* Stack menu items vertically */
        background: linear-gradient(to left, rgb(0, 0, 0), rgb(47, 47, 47));
        position: fixed; /* Fix position for menu */
        top: 90px; /* Adjust based on navbar height */
        right: 0;
        width: 100%;
        height: calc(100vh - 90px); /* Full height minus navbar height */
        padding: 20px;
        overflow-y: none; /* Scroll if content overflows */
        flex-direction: column;
        align-items: flex-start; 
        right: 20px;
    }
    .navbar_link {
        padding: 20px 0;
        top: 50%;
        text-align: left;
        width: 100%; 
        position: relative;
        padding-left: 30px;
        box-sizing: border-box; 
        font-size: 35px;
    
    }
    .navbar_link::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw; 
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2); 
    }
    .navbar_link:hover {
        color: transparent;
        background-image: linear-gradient(to right, rgb(140, 25, 133), rgb(255, 186, 228));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: background-image 0.3s;
    }
    .navbar_link::before {
        content: '';
        position: absolute;
        top: 67px;
        left: 30px;
        width: 0;
        height: 2px;
        background-image: linear-gradient(to right, rgb(140, 25, 133), rgb(255, 186, 228));
        transition: width 0.3s;
    }
    
    .navbar_link:hover::before {
        width: calc(100% - 30px);
    }
    /* Default state: hide the images */
    .imgs {
        display: none;
    }
    
    /* Show images when the menu is active */
    .navbar_menu.active ~ .imgs {
        display: flex;
        position: absolute;
        top: 750%; /* Adjust as needed */
        right: 25%; /* Adjust as needed */
        flex-direction: row;
        gap: 200px; /* Adjust spacing if needed */
    }
    .navbar_menu.active ~ .imgs img{
        height: 100px;
        width: 100px;
    }
    .navbar_menu.active ~ .imgs img:hover{
        background-color: rgba(155, 117, 251, 0.395); 
        transform: scale(1.6); 
    }
    #Amino{
        width: 600px;
    }
    .skillsLogo{
        display: none;
    }
    #nutreco{
        display: none;
    }
    #folder {
        width: 60px;
        height: auto;
        box-shadow: 5px 10px 10px rgb(0, 0, 0);
        margin-left: 20%;
        margin-top: 5%;
        transition: all 0.3s ease; /* Add transition for smooth animation */
    }
    #pool{
        margin-left: -150px;
    }
    #mancala{
        margin-left: -150px;
    }
    #web{
        margin-left: -150px;
    }
}
@media (max-width: 1224px){
    .navbar_menu.active ~ .imgs {
        display: flex;
        position: absolute;
        top: 750%; /* Adjust as needed */
        right: 25%; /* Adjust as needed */
        flex-direction: row;
        gap: 100px; /* Adjust spacing if needed */
    }
    .navbar_menu.active ~ .imgs img{
        height: 100px;
        width: 100px;
    }
    .navbar_menu.active ~ .imgs img:hover{
        background-color: rgba(155, 117, 251, 0.395); 
        transform: scale(1.6); 
    }
}

@media (max-width: 724px){
    .navbar_menu.active ~ .imgs {
        display: flex;
        position: absolute;
        top: 750%; /* Adjust as needed */
        right: 15%; /* Adjust as needed */
        flex-direction: row;
        gap: 100px; /* Adjust spacing if needed */
    }
    .navbar_menu.active ~ .imgs img{
        height: 90px;
        width: 90px;
    }
    .navbar_menu.active ~ .imgs img:hover{
        background-color: rgba(155, 117, 251, 0.395); 
        transform: scale(1.6); 
    }
}
@media (min-width: 1425px) {
    

    /*add later*/
}

@media (min-width: 1024px) {
    
    
    .navbar {
        font-size: 1.5rem; /* Increase font size */
        padding: 100px 30px; /* Increase padding */
    }
    
    .navbar_menu {
        padding: 15px 30px; /* Adjust padding within the menu */
    }
    
    .navbar_link {
        font-size: 1.7rem; /* Adjust link font size */
        padding: 0 0.5rem;
    }
    .navbar_link::before {
        top: 30px;
        left: 0;
        width: 0;
        height: 2px;
    }
    .logo{
        height: 200px; /* Adjust the height as needed */
        width: auto;
    }
    .imgs img {
        width: 60px; /* Adjust as needed */
        height: 60px; /* Adjust as needed */
    }
}
@media (min-width: 1024px){
    .logo{
        display: none;
    }
    .navbar_menu.active {
        display: flex; /* Adjust according to layout needs */
        flex-direction: column; /* Stack menu items vertically */
        background: linear-gradient(to left, rgb(0, 0, 0), rgb(47, 47, 47));
        position: fixed; /* Fix position for menu */
        top: 200px; /* Adjust based on navbar height */
        right: 0;
        width: 100%;
        height: calc(100vh - 90px); /* Full height minus navbar height */
        padding: 20px;
        overflow-y: none; /* Scroll if content overflows */
        flex-direction: column;
        align-items: flex-start; 
    }
    .navbar_link {
        padding: 20px 0;
        top: 50%;
        text-align: left;
        width: 100%; 
        position: relative;
        padding-left: 30px;
        box-sizing: border-box; 
        font-size: 35px;
    
    }
    .navbar_link::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw; 
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2); 
    }
    .navbar_link:hover {
        color: transparent;
        background-image: linear-gradient(to right, rgb(140, 25, 133), rgb(255, 186, 228));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: background-image 0.3s;
    }
    .navbar_link::before {
        content: '';
        position: absolute;
        top: 67px;
        left: 30px;
        width: 0;
        height: 2px;
        background-image: linear-gradient(to right, rgb(140, 25, 133), rgb(255, 186, 228));
        transition: width 0.3s;
    }
    
    .navbar_link:hover::before {
        width: calc(100% - 30px);
    }
    /* Default state: hide the images */
    
    .hamburger {
        display: block;
        cursor: pointer;
        color: rgb(240, 166, 242);
        font-size: 50px;
        background-color: black; 
        padding: 10px; 
        transition: background-color 0.3s, transform 0.3s; 
    }
    .close-menu{
        font-size: 50px;
    }
   
}
@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
}
@media (min-width: 390px) {
    #para, #para2, #para3, #para4, #para1 {

        font-size: 0.8rem;
        max-width: 80%;
        text-align: center;
        margin-left: 0;
        
    }
    #para1{
        margin-top: 40px;
        margin-left: 40px;
    }
    #header{
        font-size: 2.5rem;
    }
    .container{
        gap: 50px;
    }
    .subtitle{
        font-size: 1.9rem;
        margin: 0 0;
        margin-left: 0;
    }
    #mobile{
        margin-left: 60px;
    }
    .button{
        font-size: 0.7rem;
    }
    .icon{
        width: 70px;
        height: auto;
    }
 
    /* When menu is active, display it */
    .navbar_menu.active {
        display: flex; /* Adjust according to layout needs */
        flex-direction: column; /* Stack menu items vertically */
        background: linear-gradient(to left, rgb(0, 0, 0), rgb(47, 47, 47));
        position: fixed; /* Fix position for menu */
        top: 90px; /* Adjust based on navbar height */
        right: 0;
        width: 100%;
        height: calc(100vh - 90px); /* Full height minus navbar height */
        padding: 20px;
        overflow-y: none; /* Scroll if content overflows */
        flex-direction: column;
        align-items: flex-start; 
    }
    .navbar_link {
        padding: 20px 0;
        top: 50%;
        text-align: left;
        width: 100%; 
        position: relative;
        padding-left: 30px;
        box-sizing: border-box; 
        font-size: 20px;
    
    }
    .navbar_link::before {
        top: 47px;
    }
    #title{
        font-size: 2.5rem;
        letter-spacing: 0;
    }
    /* Show images when the menu is active */
    .navbar_menu.active ~ .imgs {
        display: flex;
        position: absolute;
        top: 600%; /* Adjust as needed */
        right: 10%; /* Adjust as needed */
        flex-direction: row;
        gap: 30px; /* Adjust spacing if needed */
    }
    .navbar_menu.active ~ .imgs img{
        height: 80px;
        width: 80px;
    }
    .navbar_menu.active ~ .imgs img:hover{
        background-color: rgba(155, 117, 251, 0.395); 
        transform: scale(1.6); 
    }
    .navbar_link::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -20px;
        width: 100vw; 
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2); 
    }
    #header{
        font-size: 2.5rem;
    }
    .jobs, .skills{
        font-size: 1.2rem;
        margin: -15% 0;
        margin-left: 3%;
    }
    .skills{
        font-size: 1.2rem;
        margin: 13% 0;
        margin-left: 3%;
    }
    #para, #para2, #para3, #para4, #para1{
        font-size: 0.8rem;
        max-width: 80%;
        text-indent: 0;
        text-align: center;
        margin-left: 10%;
    }
    #para1{
        font-size: 0.8rem;
        max-width: 80%;
        text-indent: 0;
        text-align: center;
        margin-top: 15%;
    }
    .subtitle{
        font-size: 1.5rem;
    }
    .goals{
        font-size: 1.5rem;
        text-align: left;
        margin-left: 0;
    }
    
    .photos {
        display: flex;
        flex-direction: column;
        gap: 20px; /* Adjust the gap between images */
        max-width: 400px; /* Set a maximum width for the grid */
        margin: 0 10px; /* Center the grid */
        align-items: center;
    }
    #Amino, #Excel, #AminoFlock {
        width: 300px;
        height: auto;
    }
    .Exceltextbox {
        width: 400px; /* Set the width of the textbox */
        padding: 10px; /* Add some padding inside the textbox */
        font-size: 0.8rem; /* Adjust the font size */
        margin-left: 0;
        
    }
    .Aminotextbox {
        width: 400px; /* Set the width of the textbox */
        padding: 10px; /* Add some padding inside the textbox */
        font-size: 0.8rem; /* Adjust the font size */
        margin-right: 0;
    }
    .colorful-textbox {
        max-width: 400px; 
        padding: 10px; /* Add some padding inside the textbox */
        background-color: #ffffff; /* Set the background color */
        font-size: 0.8rem; 
        margin-top: 15%;
    }
    #disclaimer{
        font-size: 0.8rem;
    }
    #folder {
        width: 50px;
        height: auto;
        margin-left: 10%;
        margin-top: 10%;
        box-shadow: 5px 10px 10px rgb(0, 0, 0);
        transition: all 0.3s ease; /* Add transition for smooth animation */
    }
    .flowchart-goals{
        display: none;
    }
    .con{
        margin-left: 0;
        margin-top: 5%;
        transition: color 0.3s;
        font-size: 1.5rem;
        color: #272626;
        text-shadow: 2px 2px 2px white;
    }
    #mobile{
        display: none;
    }
    table {
        margin: 100px auto;  
    }
    
    th, td {
        padding: 7px;    
    }
    #sec{
        font-size: 1rem;
    }
    #imp{
        font-size: 0.8rem;
    }
    #main {
        background-color: #eac5f8;
        text-align: center;
        font-weight: bold;
        font-size: 1rem;
    }
    #Check, #Pin{
        width: 30px;
        height: 30px;
    }
    .icon, .icon2, .icon3{
        width: 50px; 
        height: 50px; 
        margin-top: 15%;
    }
    .langIcons {
        position: relative;
        width: 100px; /* Width of the circle */
        height: 300px; /* Height of the circle */
        border-radius: 50%; /* Make the container a circle */
        margin: auto;
        margin-left: 30%;
    }
}